@import "tailwindcss";

@theme {
  --color-primary: #7ea831;
  --color-second-primary: #150941;
  --color-primary-light: #4bc2e8;
  --color-gray-text: #717171;
  --color-primary-lighter: #dff7ff;
  --color-primary-dark: #0a7fb0;
  --color-secondary: #6b7280;
  --color-success: #10b981;
  --color-warning: #f59e0b;
  --color-error: #ef4444;
  --color-info: #898484;
  --color-light-gray: #f6f9fa;
  --color-secondary-yellow: #fdd400;

  --font-family-sans: "Noto Kufi Arabic", ui-sans-serif, system-ui, sans-serif;
}

/* Custom styles for active menu item */

.main-layout {
  .ant-menu-item-selected {
    background-color: var(--color-primary) !important;
    color: white !important;
  }

  .ant-menu-item-selected .anticon {
    color: white !important;
  }

  .ant-menu-item-selected:hover {
    background-color: var(--color-primary) !important;
    color: white !important;
  }

  .ant-menu-item-selected:hover .anticon {
    color: white !important;
  }
}
