@import "./styles/tailwind.config.css";
@import "tailwindcss";

/* Apply font family with higher specificity */
* {
  font-family: "Noto Kufi Arabic", sans-serif;
  font-optical-sizing: auto;
  direction: rtl;
}

.profile .ant-collapse-item {
  margin-bottom: 0.5rem;
  border: 0;
  background-color: var(--color-white);
  border-radius: 10px !important;
  box-shadow: 0 1px 3px rgb(0 0 0 / 0.1), 0 1px 2px rgb(0 0 0 / 0.06);
}

.profile .ant-collapse {
  border: none;
}

.profile .ant-collapse-header {
  display: flex !important;
  justify-content: space-between !important;
  padding: 1rem !important;
}

.profile .ant-collapse-header-text {
  font-size: 16px;
  clear: var(--color-second-rimary);
  font-weight: 700;
}
.PhoneInput {
  direction: ltr;
}

.PhoneInputInput {
  direction: inherit;
  text-align: right;
}

/* Custom styles for active menu item */

.main-layout {
  .ant-menu-item-selected {
    background-color: var(--color-primary) !important;
    color: white !important;
  }

  .ant-menu-item-selected .anticon {
    color: white !important;
  }

  .ant-menu-item-selected:hover {
    background-color: var(--color-primary) !important;
    color: white !important;
  }

  .ant-menu-item-selected:hover .anticon {
    color: white !important;
  }
}
